NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_xxx
STRIPE_SECRET_KEY=sk_test_xxx
RESEND_API_KEY=re_xxx
ADMIN_PASSWORD=admin123

# Upstash Redis (https://console.upstash.com)
STORAGE_URL=https://xxx.upstash.io
STORAGE_TOKEN=xxx
